<div>
    <div class="centro">
      <div class="container">
        <span class="titulo">Mapa de Vagas</span>
      </div>
      <img
        class="logo"
        src="assets/images/parkicon.png"
        width="70"
        height="70"
        alt="Parkineasy icon"
      />

      <div class="legenda">
        <div>
          <div class="legendaWrapper"><div class="legBox" [ngStyle]="{'background-color':'#009688'}"></div>Vagas Comums Livres</div>
         <div class="legendaWrapper"> <div class="legBox" [ngStyle]="{'background-color':'#80CBC4'}"></div>Vagas Comums Ocupadas</div>
        </div>
        <div>
          <div class="legendaWrapper"><div class="legBox" [ngStyle]="{'background-color':'#3F51B5'}"></div>Vagas Deficientes Livres</div>
          <div class="legendaWrapper"> <div class="legBox" [ngStyle]="{'background-color':'#9FA8DA'}"></div>Vagas Deficientes Ocupadas</div>        
        </div>
        <div>
          <div class="legendaWrapper"><div class="legBox" [ngStyle]="{'background-color':'#673AB7'}"></div>Vagas Idosos Livres</div>
          <div class="legendaWrapper"><div class="legBox" [ngStyle]="{'background-color':'#B39DDB'}"></div>Vagas Idosos Ocupadas</div> 
        </div>
      </div>

      <div class="mapWrapper" >
        <div>
          <div class="spotVaga" *ngFor="let vaga of vagasGerais[0]" [ngStyle]="{'background-color': setVagaCor(vaga)}">{{vaga.codigo}}</div>
        </div>
       
        <div class="doubleColumn">
          <div>
            <div class="spotVaga" *ngFor="let vaga of vagasGerais[1]" [ngStyle]="{'background-color': setVagaCor(vaga)}">{{vaga.codigo}}</div>
          </div>
          <div>
            <div class="spotVaga" *ngFor="let vaga of vagasGerais[2]" [ngStyle]="{'background-color': setVagaCor(vaga)}">{{vaga.codigo}}</div>
          </div>
        </div>

        <div>
          <div class="spotVaga" *ngFor="let vaga of vagasGerais[3]" [ngStyle]="{'background-color': setVagaCor(vaga)}">{{vaga.codigo}}</div>
        </div>
      </div>
    </div>
  </div>
  