.titulo {
  text-align: center;
  font-size: 35px;
  color: #FFF;
  line-height: 35px;
}

.container {
  background-color: rgb(63, 81, 181);
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 1;
  box-shadow: 0 2px 2px 1px rgba(63, 81, 181, 0.2);
  margin-bottom: 15px;
}

.centro {
  flex: 1;
  width: clamp(350px,600px,90%);
  background-color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  box-shadow: black;
  margin-top: 10%;
  position: relative;
  box-shadow: 2px 2px 2px 2px rgb(173, 173, 173);
  padding-bottom: 20px;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
  font-size: 24px;
  color: #FFF;
}

.opIcon {
  background-color: rgb(63, 81, 181);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.vagaCard {
  display: flex;
  margin-left: 10px;
  color: #2c344c;
}

.formStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px
}

.voltar {
  float: right;
  margin-right: 5%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 40px;
}

.editButtons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 20px;
  margin-right: 40px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
