<div class="header">
  <div class="container">
    <div class="row">
      <div class="col">
       <a href="" class="title"><img
        class="logo"
        src="assets/images/parkicon.png"
        width="50"
        height="50"
        alt="Parkineasy icon"
      /></a>
      </div>
      <div class="col" *ngIf="!authService.isAuthenticated()">
        <a href="/login" class="login btn btn-default">Login (funcionário)</a>
      </div>

      <div class="col" *ngIf="authService.isAuthenticated()">
        <a href="/gerencia/funcionarios/mapa" class="logout btn btn-default"
          >Mapa</a>
      </div>
      <div class="col" *ngIf="authService.isAuthenticated()">
        <a href="/gerencia/vagas/cadastro" class="logout btn btn-default"
          >Vagas</a
        >
      </div>
      <div class="col" *ngIf="authService.isAuthenticated()">
        <a href="/gerencia/funcionarios/cadastro" class="logout btn btn-default"
          >Funcionários</a
        >
      </div>
      <div class="col" *ngIf="authService.isAuthenticated()">
        <a href="/gerencia/funcionarios/caixa" class="logout btn btn-default"
          >Caixa</a
        >
      </div>
      <div class="col" *ngIf="authService.isAuthenticated()">
        <a class="logout btn btn-default" (click)="logout()">Deslogar</a>
      </div>
    </div>
  </div>
</div>
