<div class="fundo">
  <div class="centro">
    <div class="container">
        <span class="titulo">Cadastrar Funcionários</span>
    </div>
    <img
      class="logo"
      src="assets/images/parkicon.png"
      width="70"
      height="70"
      alt="Parkineasy icon"
    />
    <form
      class="form-inputs"
      #addForm="ngForm"
      (ngSubmit)="onAddFuncionario(addForm)"
    >
      <mat-form-field class="nomeFunc" appearance="fill">
        <mat-label>Nome do Funcionário</mat-label>
        <input
          ngModel
          name="nome"
          matInput
          #input
          placeholder="Fagner Souza"
          required
        />
        <mat-hint align="end"></mat-hint>
      </mat-form-field>
      <mat-form-field class="emailFunc" appearance="fill">
        <mat-label>Email do Funcionário</mat-label>
        <input
          ngModel
          name="email"
          matInput
          placeholder="funcionario@parkineasy.com"
          required
        />
      </mat-form-field>
      <mat-form-field class="senhaFunc" appearance="fill">
        <mat-label>Senha do Funcionário</mat-label>
        <input
          ngModel
          name="senha"
          matInput
          [type]="hide ? 'text' : 'password'"
          required
        />
        <div
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </div>
      </mat-form-field>
      <mat-form-field class="nomeFunc" appearance="fill">
        <mat-label>Usuário do Funcionário</mat-label>
        <input
          ngModel
          name="usuario"
          matInput
          #input
          placeholder="fagner.souza"
          required
        />
        <mat-hint align="end"></mat-hint>
      </mat-form-field>
      <div>
        <button
          id="criar-funcionario"
          type="submit"
          class="btn-criar"
          mat-raised-button
          color="primary"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>
