.titulo {
  text-align: center;
  font-size: 35px;
  color: #FFF;
  line-height: 35px;
}

.container {
  background-color: rgb(63, 81, 181);
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 1;
  box-shadow: 0 2px 2px 1px rgba(63, 81, 181, 0.2);
  margin-bottom: 15px;
}

.centro {
  flex: 1;
  width: clamp(375px, 600px, 95%);
  background-color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 10px;
  box-shadow: black;
  position: relative;
  box-shadow: 2px 2px 2px 2px rgb(173, 173, 173);
}

.tipoVaga {
  width: 100%;
  display: flex;
  justify-content: center;
}

.voltar {
  float: right;
  margin-right: 5%;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn-form {
  width: 100px;
}

.IdVaga {
  margin-top: 8%;
  margin-left: 15%;
}

.selecionarVaga {
  margin: 7% 0 0 33.5%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Ticket Styles */

.ticketTitle {
  margin-top: 15px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #454555;
  border-top: 1px solid #454555;
  border-bottom: 1px solid #454555;
  padding: 10px 0
}

.ticketBold {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #454555;
}

.ticketText {
  text-align: center;
  font-size: 20px;
  color: #454555;
}

.ticketRow {
  margin-bottom: 20px;
}

.btn-pagar {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
}

/* Modal Styles */

.modalBackground {
  z-index: 3;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.658);
  display: flex;
  justify-content: center;
}

.closeBtn {
  cursor: pointer;
  margin-left: 40%;
}

.modalBox {
  margin-top: 20vh;
  background-color: #FFF;
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.modalMethods {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.modalValue {
  text-align: center;
  font-size: 26px;
  color: #454555;
  padding: 20px 0;
}

.modalTitle {
  text-align: center;
  font-size: 26px;
  background-color: #454555;
  color: #FFF;
  border-bottom: 1px solid #454555;
  padding: 20px 0;
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

.modalText {
  text-align: center;
  font-size: 20px;
}

/* Estilos Mapinha */
.mapWrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  background-color: #CFD2D7;
}

.doubleColumn {
  display: flex;
  gap: 5px
}

.spotVaga {
  margin-bottom: 5px;
  border-radius: 4px;
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
}