.titulo {
  text-align: center;
  flex: 1;
  font-size: 35px;
  margin-top: 25px;
}

.centro {
  flex: 1;
  width: 600px;
  background-color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: black;
  margin-top: 10%;
  position: relative;
  box-shadow: 2px 2px 2px 2px rgb(173, 173, 173);
}

.voltar {
  float: right;
  margin-right: 5%;
}

.btn-confirmar-selecao {
  position: absolute;
  bottom: 10%;
  right: 16%;
}

.btn-voltar {
  position: absolute;
  bottom: 10%;
  left: 16%;
}

.IdVaga {
  margin-top: 8%;
  margin-left: 15%;
}

.selecionarVaga {
  margin: 7% 0 15% 33.5%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Ticket Styles */

.ticketTitle {
  margin-top: 15px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #454555;
  border-top: 1px solid #454555;
  border-bottom: 1px solid #454555;
  padding: 10px 0
}

.ticketBold {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #454555;
}

.ticketText {
  text-align: center;
  font-size: 20px;
  color: #454555;
}

.ticketRow {
  margin-bottom: 20px;
}

.btn-pagar {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
}

/* Modal Styles */

.modalBackground {
  z-index: 3;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.658);
  display: flex;
  justify-content: center;
}

.closeBtn {
  cursor: pointer;
  margin-left: 40%;
}

.modalBox {
  margin-top: 20vh;
  background-color: #FFF;
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.modalMethods {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.modalValue {
  text-align: center;
  font-size: 26px;
  color: #454555;
  padding: 20px 0;
}

.modalTitle {
  text-align: center;
  font-size: 26px;
  background-color: #454555;
  color: #FFF;
  border-bottom: 1px solid #454555;
  padding: 20px 0;
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

.modalText {
  text-align: center;
  font-size: 20px;
}