<div *ngIf="showModal == true" class="modalBackground">
  <div class="modalBox">
    <h2 class="modalTitle">Selecionar Método de Pagamento <span class="closeBtn" (click)="fecharModal()">X</span> </h2>

    <h2 class="modalValue">Valor: R$ {{ticketValue}}</h2>
    <div class="modalMethods">
      <div style="color: #4CAF50;cursor: pointer;" (click)="pagDinheiro()">
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
          <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
          <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
        </svg>
        <h3 class="modalText" >Dinheiro</h3>
      </div>
  
      <div style="color: #3F51B5;cursor: pointer;" (click)="pagCartao()">
      <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
      </svg>
      <h3 class="modalText">Cartão</h3>
      </div>
  
      <div style="color: #4bb8a9;cursor: pointer;" (click)="pagPix()">
        <svg viewBox="0 0 512 512" width="125" height="125" xmlns="http://www.w3.org/2000/svg">
          <defs/>
          <g fill="#4BB8A9" fill-rule="evenodd">
            <path d="M112.57 391.19c20.056 0 38.928-7.808 53.12-22l76.693-76.692c5.385-5.404 14.765-5.384 20.15 0l76.989 76.989c14.191 14.172 33.045 21.98 53.12 21.98h15.098l-97.138 97.139c-30.326 30.344-79.505 30.344-109.85 0l-97.415-97.416h9.232zm280.068-271.294c-20.056 0-38.929 7.809-53.12 22l-76.97 76.99c-5.551 5.53-14.6 5.568-20.15-.02l-76.711-76.693c-14.192-14.191-33.046-21.999-53.12-21.999h-9.234l97.416-97.416c30.344-30.344 79.523-30.344 109.867 0l97.138 97.138h-15.116z"/>
            <path d="M22.758 200.753l58.024-58.024h31.787c13.84 0 27.384 5.605 37.172 15.394l76.694 76.693c7.178 7.179 16.596 10.768 26.033 10.768 9.417 0 18.854-3.59 26.014-10.75l76.989-76.99c9.787-9.787 23.331-15.393 37.171-15.393h37.654l58.3 58.302c30.343 30.344 30.343 79.523 0 109.867l-58.3 58.303H392.64c-13.84 0-27.384-5.605-37.171-15.394l-76.97-76.99c-13.914-13.894-38.172-13.894-52.066.02l-76.694 76.674c-9.788 9.788-23.332 15.413-37.172 15.413H80.782L22.758 310.62c-30.344-30.345-30.344-79.524 0-109.868"/>
          </g>
        </svg>
        <h3 class="modalText" style="padding-top: 10px;">Pix</h3>
      </div>
    </div>

  </div>
</div>

<div class="fundo">
  <div class="container">
    <mat-toolbar color="primary">
      <span *ngIf="pageContent == 'initial'" class="titulo">Selecionar Vaga - {{vagaType}}</span>
      <span *ngIf="pageContent == 'ticket'" class="titulo">Impressão de Ticket</span>
      <span *ngIf="pageContent == 'comprovante'" class="titulo">Comprovante de Pagamento</span>
    </mat-toolbar>

  </div>
  <div class="centro">

    <div class="tipoVaga" >
      <img *ngIf="vagaType == 'Comum'" src="assets/images/comum.png" alt="" style="height: 75px; width: 75px; align-self: center;">
      <img *ngIf="vagaType == 'Idoso'" src="assets/images/idoso.png" alt="" style="height: 75px; width: 75px; align-self: center;">
      <img *ngIf="vagaType == 'Deficiente'" src="assets/images/deficiente.png" alt="" style="height: 75px; width: 75px; align-self: center;">
    </div>

    <form *ngIf="pageContent == 'initial'" #addForm="ngForm" (ngSubmit)="confirmar(addForm)">
      <mat-form-field class="selecionarVaga" appearance="fill">
        <mat-label>Selecione uma Vaga</mat-label>
        <mat-select ngModel name="codigoVaga" (selectionChange)= escolherVaga($event.value)>
          <mat-option *ngFor="let vaga of listaVagas" [value]="vaga">
            {{ vaga }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mapWrapper" >
        <div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='A01') ? '#2196F3' : listaVagas.includes('A01') ? '#4CAF50' : vagasOcupadas.includes('A01') ? '#D32F2F' : '#607D8B'}">A01</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='A02') ? '#2196F3' : listaVagas.includes('A02') ? '#4CAF50' : vagasOcupadas.includes('A02') ? '#D32F2F' : '#607D8B'}">A02</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='A03') ? '#2196F3' : listaVagas.includes('A03') ? '#4CAF50' : vagasOcupadas.includes('A03') ? '#D32F2F' : '#607D8B'}">A03</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='A04') ? '#2196F3' : listaVagas.includes('A04') ? '#4CAF50' : vagasOcupadas.includes('A04') ? '#D32F2F' : '#607D8B'}">A04</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='A05') ? '#2196F3' : listaVagas.includes('A05') ? '#4CAF50' : vagasOcupadas.includes('A05') ? '#D32F2F' : '#607D8B'}">A05</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='A06') ? '#2196F3' : listaVagas.includes('A06') ? '#4CAF50' : vagasOcupadas.includes('A06') ? '#D32F2F' : '#607D8B'}">A06</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='A07') ? '#2196F3' : listaVagas.includes('A07') ? '#4CAF50' : vagasOcupadas.includes('A07') ? '#D32F2F' : '#607D8B'}">A07</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='A08') ? '#2196F3' : listaVagas.includes('A08') ? '#4CAF50' : vagasOcupadas.includes('A08') ? '#D32F2F' : '#607D8B'}">A08</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='A09') ? '#2196F3' : listaVagas.includes('A09') ? '#4CAF50' : vagasOcupadas.includes('A09') ? '#D32F2F' : '#607D8B'}">A09</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='A10') ? '#2196F3' : listaVagas.includes('A10') ? '#4CAF50' : vagasOcupadas.includes('A10') ? '#D32F2F' : '#607D8B'}">A10</div>
        </div>
       
        <div class="doubleColumn">
          <div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='B01') ? '#2196F3' : listaVagas.includes('B01') ? '#4CAF50' : vagasOcupadas.includes('B01') ? '#D32F2F' : '#607D8B'}">B01</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='B02') ? '#2196F3' : listaVagas.includes('B02') ? '#4CAF50' : vagasOcupadas.includes('B02') ? '#D32F2F' : '#607D8B'}">B02</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='B03') ? '#2196F3' : listaVagas.includes('B03') ? '#4CAF50' : vagasOcupadas.includes('B03') ? '#D32F2F' : '#607D8B'}">B03</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='B04') ? '#2196F3' : listaVagas.includes('B04') ? '#4CAF50' : vagasOcupadas.includes('B04') ? '#D32F2F' : '#607D8B'}">B04</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='B05') ? '#2196F3' : listaVagas.includes('B05') ? '#4CAF50' : vagasOcupadas.includes('B05') ? '#D32F2F' : '#607D8B'}">B05</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='B06') ? '#2196F3' : listaVagas.includes('B06') ? '#4CAF50' : vagasOcupadas.includes('B06') ? '#D32F2F' : '#607D8B'}">B06</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='B07') ? '#2196F3' : listaVagas.includes('B07') ? '#4CAF50' : vagasOcupadas.includes('B07') ? '#D32F2F' : '#607D8B'}">B07</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='B08') ? '#2196F3' : listaVagas.includes('B08') ? '#4CAF50' : vagasOcupadas.includes('B08') ? '#D32F2F' : '#607D8B'}">B08</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='B09') ? '#2196F3' : listaVagas.includes('B09') ? '#4CAF50' : vagasOcupadas.includes('B09') ? '#D32F2F' : '#607D8B'}">B09</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='B10') ? '#2196F3' : listaVagas.includes('B10') ? '#4CAF50' : vagasOcupadas.includes('B10') ? '#D32F2F' : '#607D8B'}">B10</div>
          </div>
          <div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='C01') ? '#2196F3' : listaVagas.includes('C01') ? '#4CAF50' : vagasOcupadas.includes('C01') ? '#D32F2F' : '#607D8B'}">C01</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='C02') ? '#2196F3' : listaVagas.includes('C02') ? '#4CAF50' : vagasOcupadas.includes('C02') ? '#D32F2F' : '#607D8B'}">C02</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='C03') ? '#2196F3' : listaVagas.includes('C03') ? '#4CAF50' : vagasOcupadas.includes('C03') ? '#D32F2F' : '#607D8B'}">C03</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='C04') ? '#2196F3' : listaVagas.includes('C04') ? '#4CAF50' : vagasOcupadas.includes('C04') ? '#D32F2F' : '#607D8B'}">C04</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='C05') ? '#2196F3' : listaVagas.includes('C05') ? '#4CAF50' : vagasOcupadas.includes('C05') ? '#D32F2F' : '#607D8B'}">C05</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='C06') ? '#2196F3' : listaVagas.includes('C06') ? '#4CAF50' : vagasOcupadas.includes('C06') ? '#D32F2F' : '#607D8B'}">C06</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='C07') ? '#2196F3' : listaVagas.includes('C07') ? '#4CAF50' : vagasOcupadas.includes('C07') ? '#D32F2F' : '#607D8B'}">C07</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='C08') ? '#2196F3' : listaVagas.includes('C08') ? '#4CAF50' : vagasOcupadas.includes('C08') ? '#D32F2F' : '#607D8B'}">C08</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='C09') ? '#2196F3' : listaVagas.includes('C09') ? '#4CAF50' : vagasOcupadas.includes('C09') ? '#D32F2F' : '#607D8B'}">C09</div>
            <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='C10') ? '#2196F3' : listaVagas.includes('C10') ? '#4CAF50' : vagasOcupadas.includes('C10') ? '#D32F2F' : '#607D8B'}">C10</div>
          </div>
        </div>

        <div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='D01') ? '#2196F3' : listaVagas.includes('D01') ? '#4CAF50' : vagasOcupadas.includes('D01') ? '#D32F2F' : '#607D8B'}">D01</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='D02') ? '#2196F3' : listaVagas.includes('D02') ? '#4CAF50' : vagasOcupadas.includes('D02') ? '#D32F2F' : '#607D8B'}">D02</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='D03') ? '#2196F3' : listaVagas.includes('D03') ? '#4CAF50' : vagasOcupadas.includes('D03') ? '#D32F2F' : '#607D8B'}">D03</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='D04') ? '#2196F3' : listaVagas.includes('D04') ? '#4CAF50' : vagasOcupadas.includes('D04') ? '#D32F2F' : '#607D8B'}">D04</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='D05') ? '#2196F3' : listaVagas.includes('D05') ? '#4CAF50' : vagasOcupadas.includes('D05') ? '#D32F2F' : '#607D8B'}">D05</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='D06') ? '#2196F3' : listaVagas.includes('D06') ? '#4CAF50' : vagasOcupadas.includes('D06') ? '#D32F2F' : '#607D8B'}">D06</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='D07') ? '#2196F3' : listaVagas.includes('D07') ? '#4CAF50' : vagasOcupadas.includes('D07') ? '#D32F2F' : '#607D8B'}">D07</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='D08') ? '#2196F3' : listaVagas.includes('D08') ? '#4CAF50' : vagasOcupadas.includes('D08') ? '#D32F2F' : '#607D8B'}">D08</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='D09') ? '#2196F3' : listaVagas.includes('D09') ? '#4CAF50' : vagasOcupadas.includes('D09') ? '#D32F2F' : '#607D8B'}">D09</div>
          <div class="spotVaga" [ngStyle]="{'background-color': (chosenVaga=='D10') ? '#2196F3' : listaVagas.includes('D10') ? '#4CAF50' : vagasOcupadas.includes('D10') ? '#D32F2F' : '#607D8B'}">D10</div>
        </div>
      </div>

      <div class="btn-wrapper">
        <button
          (click)="voltar()"
          id="voltar-selecao"
          mat-raised-button
          class="btn-form"
          color="primary"
        >
          Voltar
        </button>
        <button
        id="selecionar-vaga"
        type="submit"
        mat-raised-button
        class="btn-form"
        color="primary"
      >
        Confirmar
      </button>
      </div>
    </form>

    <div *ngIf="pageContent == 'ticket'">
      <h3 class="ticketTitle">Ticket</h3>
        <div class="ticketRow">
          <p class="ticketBold">ID</p>
          <p class="ticketText">{{ticket.id}}</p>
        </div>
        <div class="ticketRow">
          <p class="ticketBold">Código da Vaga</p>
          <p class="ticketText">{{ticket.codigo}}</p>
        </div>
        <div class="ticketRow">
          <p class="ticketBold">Data</p>
          <p class="ticketText">{{ticket.date}}</p>
        </div>
        <div class="ticketRow">
          <p class="ticketBold">Horário</p>
          <p class="ticketText">{{ticket.time}}</p>
        </div>    
       <div class="btn-pagar">
        <button
        (click)="abrirModal()"
        id="payTicket"
        mat-raised-button
        color="primary"
      >
        Pagar
      </button>
       </div>
    </div>

    <div *ngIf="pageContent == 'comprovante'">
      <h3 class="ticketTitle">Comprovante</h3>
        <div class="ticketRow">
          <p class="ticketBold">Código da Vaga</p>
          <p class="ticketText">{{comprovante.codigoVaga}}</p>
        </div>
        <div class="ticketRow">
          <p class="ticketBold">Data de Pagamento</p>
          <p class="ticketText">{{comprovante.dataPagamento}}</p>
        </div>
        <div class="ticketRow">
          <p class="ticketBold">Valor Pago</p>
          <p class="ticketText">R$ {{comprovante.valor}}</p>
        </div>
        <div class="ticketRow">
          <p class="ticketBold">Método de Pagamento</p>
          <p class="ticketText">{{comprovante.metodoPagamento}}</p>
        </div>    
       <div class="btn-pagar">
        <button
        (click)="voltar()"
        id="backHome"
        mat-raised-button
        color="primary"
      >
        Sair
      </button>
       </div>
    </div>

  </div>
</div>
